<html>
<head>
<title>New questions for {{ candidate.constituency_name }} candidates</title>
</head>
<body>


<p>Dear {{candidate.name}},</p>

<p>Once again, thank you for participating.  It's been a few days since your
last visit, and we thought that you'd like to know that there are more
questions for you from various organisations.</p>

<p>To go back to the site and review the questions, please click on the
unique link below:</p>

<p><a href="http://questions.campaignreply.org/candidates/authenticate/{{ candidate.auth_token }}">Answer Questions</a></p>


<p>Best regards</p>


</body>
</html>
