{% extends "base.html" %}

{% block jumbotron %}

  <h1>{{ constituency }}</h1>

  <ul>
    {% for candidate in candidates %}
      <li>{{ candidate }}</li>
    {% endfor %}
  </ul>

  <form method="POST" action="/">
    <input name="postcode" id="id_postcode" placeholder="Enter your postcode" />
    {% csrf_token %}
  </form>

{% endblock jumbotron %}


{% block content %}

{% for candidate in candidates %}
  <h2>{{ candidate.name }}</h2>
{% endfor %}

{% for organisation in organisations %}
  <h3>{{ organisation.name }}</h3>
{% endfor %}

{% for question in questions %}
  <h4>{{ question.question }}</h4>
{% endfor %}

{% for answer in answers %}
  <blockquote>{{ answer.answer }}</blockquote>
{% endfor %}

{% endblock content %}
