{% extends "base.html" %}
{% load staticfiles %}

{% block jumbotron %}
<h1>Candidate Q&amp;As #GE2015</h1>
<p>This is a prototype of a Q&amp;A app for organisations to ask questions of Prospective Parliamentary Candidates in the UK general election 2015.</p>
<p>The code is under active development. More details are available on <a href="https://github.com/DemocracyClub/candidate_questions/">Github</a>.</p>
{% endblock jumbotron %}

{% block content %}
<h2>See questions and answers answers from prospective parliamentary candidates</h2>
<form method="POST">
  <input name="postcode" id="id_postcode" placeholder="Enter your postcode" />
  {% csrf_token %}
</form>
<p>Or you can <a href="/candidates/view_answers/">browse all candidate answers</a>.</p>
<img src="{% static "img/89up_logo_blue_100px.png" %}" alt="89up"/>
{% endblock content %}
