{% extends "base.html" %}

{% block jumbotron %}
<h1>Candidate Q&amp;As #GE2015</h1>
<p>This is a prototype of a Q&amp;A app for organisations to ask questions of Prospective Parliamentary Candidates in the UK general election 2015.</p>
<p>The code is under active development. More details are available on <a href="https://github.com/DemocracyClub/candidate_questions/">Github</a>.</p>
{% endblock jumbotron %}

{% block content %}
<form method="POST">
  <input name="postcode" id="id_postcode" placeholder="Enter your postcode" />
  {% csrf_token %}
</form>
<h2>{{ constituency }}</h2>
{% endblock content %}
