{% extends "base.html" %}


{% block title %}{{ constituency }} - Ask your candidate{% endblock title %}

{% block jumbotron %}

  <h1>{{ constituency }}</h1>

  <h2>Candidates</h2>

  <ul>
    {% for candidate in candidates %}
      <li><a href="/candidates/view_answer/{{ candidate.popit_id }}">{{ candidate.name }}</a> ({{ candidate.party }} /
        {{ candidate.get_answer_count }} questions answered)</li>
    {% endfor %}
  </ul>

{% endblock jumbotron %}

{% block content %}
<h2>Search for another constituency</h2>
<form method="POST" action="/">
  <input name="postcode" id="id_postcode" placeholder="Enter your postcode" />
  {% csrf_token %}
</form>
{% endblock content %}
